    <div class="container-wide" id="footer-container">
        <footer>
            <div id="footer-left">
                <p>All content created by <strong>Peder Voldnes Langdal</strong> unless stated otherwise.</p>
                <p>Below is a vector image of a <a target="_blank" href="https://en.wikipedia.org/wiki/Slogen">mountain I like.</a></p>
            </div>
            <div id="footer-right">
                <h2>Social media</h2>
                <ul id="social-list">
                    <li><a target="_blank" href="https://www.instagram.com/pedervl/"><img src="/static/images/instagram-logo.png" width="32px" alt="Instagram logo"></a></li>
                    <li><a target="_blank" href="#"><img src="/static/images/linkedin-logo-button.png" width="32px" alt="LinkedIn logo"></a></li>
                    <li><a target="_blank" href="https://twitter.com/PLangdal"><img src="/static/images/twitter-logo-button.png" width="32px" alt="Twitter logo"></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="container-wide" id="bottom-container">
        <div class="container-wide" id="bottom-inner-container">
            <img src="/static/images/slogen3.svg.png" width="100%" alt="An image of Slogen">
        </div>
    </div>
</body>
</html>