<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Peder Voldnes Langda">
    <title>{{pageTitle}}</title>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <!-- Syntax highlighting -->
    <!-- <link rel="stylesheet" href="/styles/solarized-dark.css"> -->
    <link rel="shortcut icon" href="/static/images/pl_icon.png" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-wide" id="header-container">
        <header>
            <div id="header-text">
                <a href="/"><h1>CODE CLIMBING</h1></a>
            </div>
            <div id="header-links">
                <ul>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
        </header>
    </div>
