# Vim files
*.swp
*.swo

# CTags tags
tags

# Articles
posts/*.md
!posts/example.md
!posts/404.md

# Images, excluding site graphics
images/*
!images/site/

# Dependencies
vendor/

# Twig cache
twig-cache/*
!twig-cache/.gitkeep

