# Vim files
*.swp
*.swo

# CTags tags
tags

# Articles
content/*.md
!content/example.md

# Images, excluding site graphics
images/*
!images/site/

# Dependencies
vendor/

# Twig cache
twig-cache/*
!twig-cache/.gitkeep

