# Vim files
*.swp
*.swo

# Sublime workspace
*.sublime-workspace

# CTags tags
tags

# Blog posts
posts/*.md
!posts/example.md
!posts/404.md

# Blog images
static/images/content/*

# Dependencies
vendor/

# Twig cache
twig-cache/*
!twig-cache/.gitkeep

